@import '../scss/lib/theme/theme';

.signup {

  h2 {
    font-family: $font-ttl;
    text-align: center;
    margin-top: 15px;
  }

  .signup-form {

    .btn-default {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .input-std {
      padding: .7%
    }

  }

}
