@import '../scss/lib/theme/theme';

.signup {

  p {
    margin-left: 5%;
  }

  .signup-form {

    .btn-default {
      margin-top: 1%;
      margin-left: 5%;
    }

    .input-std {
      padding: .7%
    }

  }

}
