<section class="signup">
  <p>Sign Up</p>
  <form ng-submit="signupCtrl.signup(signupCtrl.user)" class="signup-form" novalidate>
    <input class="input-std" type="text"
      placeholder="username"
      ng-minlength="4"
      uib-tooltip="must have at least 4 characters"
      ng-model="signupCtrl.user.username" required>

    <input class="input-std" type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email" required>

    <input class="input-std" type="password"
      placeholder="password"
      ng-minlength="8"
      ng-model="signupCtrl.user.password" required>

    <button class="btn-std" type="submit">sign up</button>
  </form>
</section>
