@import '../scss/lib/theme/theme';

.login {

    p {
      margin-left: 5%;
    }

  .login-form {

    .btn-default {
      margin-top: 1%;
      margin-left: 5%;
    }

  .input-std {
    padding: .7%
  }

  }
}
