@import '../scss/lib/theme/theme';

.create-memory {

  .red {
    color: $red;
  }

  h2 {
    text-align: center;
    font-family: $font-ttl;
    font-size: 30px;

    @media screen and (min-width: 640px) {
      font-size: 40px;
    }
  }

  .choose-file {
    // display: inline-block;
    width: 105px;
    margin-top: 0;
  }

  .grey {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .form-horizontal {
    padding: $gutter-sm;
    margin-top: 3vw;

    .top-margin {
      margin-top: 3vw;
    }

  }

}
