@import '../scss/lib/theme/theme';

.dashboard {

  .create-btn {
    margin-top: 3em;
  }
  .accordion-div {
    margin-top: 3em;

  }

  h1 {
    text-align: center;
    font-family: $font-ttl;
    font-size: 30px;
    margin-bottom: 15px;

    // @media screen and (min-width: 640px) {
    //   font-size: 40px;
    // }
  }
}
