<section class="dashboard">
  <h1>{{ dashboardCtrl.title }}</h1>
  <a class="btn btn-default create-btn" href="/#!/memory" role="button">Create a memory</a>

  <div class="accordion-div">
    <uib-accordion>
      <div uib-accordion-group class="panel-default"  ng-repeat="item in dashboardCtrl.memories" heading="{{item.title}}">
        <memory-item-controller memory="item" currentMemory="dashboardCtrl.currentMemory"
        memories="dashboardCtrl.memories">
      </memory-item-controller>
    </div>
    <uib-accordion>
  </div>
</section>
