<div class="all-pins`">

  <map center="{{ mapCtrl.markers[0].location }}" zoom="18" map-type-id="MapTypeId.ROADMAP" tilt="45">
    <marker ng-repeat="markers in mapCtrl.markers" position="{{ markers.location.lat }}, {{ markers.location.lng }}" icon="../../../assets/lock-marker.png">
    </marker>
  </map>
  
  <input
    places-auto-complete types="['geocode']"
    placeholder="Search Other Memories"
    class="input-std"
    on-place-changed="mapCtrl.placeChanged()"
    type="text"
    name="location data"
    >
</div>
