@import '../scss/lib/theme/theme';

.navbar {

  img {
    width: 4em;
    margin: 1em 0em 1em 2.5em;
    float: left;
  }


  .btn-default {
    float: right;
    margin-top: 1vh;
    margin-right: 4vw;
  }

}
