@import '../scss/lib/theme/theme';

.landing {

  img {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: -1em;
    display: block;
    padding-bottom: $gutter-std;
    @media screen and (max-width: 640px) {
      width: 80%;
    }
  }

  .join-container {

    .join-inner {

      .form-msg {
        font-size: 2.5vh;
        margin-top: 1%;
        margin-left: 5%;

        a {
          padding: 1%;
        }

        a:hover {
          color: $brand-primary;
        }

        p {
          display: inline-block;
        }

      }
    }
  }
}
