@import '../scss/lib/theme/theme';

.memory-item {

  .memory-container {
    margin-top: 2em;
    line-height: 2em;

    .labels {
      font-weight: bold;
    }
  }

  .cancel-btn {
      background-color: $brand-primary;
      border-color: $brand-primary;
      margin-top: 1em;

      &:hover {
        background: $brand-primary/1.5;
      }
  }

  .controls-container {
    margin-top: 1.5em;

    .btn {
      margin-bottom: 1em;
    }
  }
}
