@import '../scss/lib/theme/theme';

.memory-item {

  span {

    padding: 2em;
    line-height: 2em;
  }

  .memory-container {
    margin-top: 2em;

    .labels {
      font-weight: bold;
    }
  }

  .controls-container {
    .btn {
      margin-bottom: 1em;
    }
  }
}
